* {
  box-sizing: border-box;
}

body {
  background: #ccc;
  font: 14px Arial;
}

main {
  height: 185px;
  width: 542px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
}

.left-float, table {
  float: left;
}

.border-between {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid black;
}

h1 {
  margin: 0 0 10px;
  font-size: 24px;
  font-style: italic;
}

p {
  margin: 10px 0 8px;
}

.bold-font {
  font-weight: bold;
}

table {
  margin: 0;
  border-spacing: 0;
}

td {
  width: 110px;
  line-height: 19px;
}

.right-bottom {
  position:absolute;
  top: 150px;
  left: 506px;
}